/* -------------------------------
   TYPOGRAPHY
   --
   Mobile First !
------------------------------- */

h1,
.cbo-title-1 {
  font-size: 1.75rem;
  line-height: 1.0714em;
  font-weight: normal;
}

h2,
.cbo-title-2 {
  font-size: 1.875rem;
  line-height: 1.4em;
  font-weight: normal;
}

h3,
.cbo-title-3 {
  font-size: 1.5rem;
  line-height: 1.4em;
  font-weight: normal;
}

h4,
.cbo-title-4 {
  font-size: 1.25rem;
  line-height: 1.4em;
  font-weight: bold;
}

.cbo-chapo {
  font-size: 1.875rem;
  line-height: 1.4em;
}

.cbo-tag {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.08em;
  text-align: left;
  text-transform: uppercase;

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  &.tag--dark{
    color:$colorgreymedium;
  }
}

/* TinyMCE styles */

.cbo-cms,
.mce-content-body {
  h1,
  .cbo-title-1,
  h2,
  .cbo-title-2,
  h3,
  .cbo-title-3,
  h4,
  .cbo-title-4 {
    color: $colorwhite;

    a:not(.cbo-button) {
      color: $colorgrey;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .cbo-chapo{
    color:$colorgrey;
  }

  p:not(.cbo-chapo),
  ul,
  ol {
    font-size: 1.25rem;
    line-height: 1.5em;
    color: $colorgrey;
    margin: 1.6em 0;

    a:not(.cbo-button) {
      color: $colorgrey;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  blockquote {
    p {
    }
  }

  &.cms--white {
    color: $colorwhite;

    .cbo-chapo{
      color:$colorgrey;
    }

    p,
    ul,
    ol {
      color: $colorwhite;

      a:not(.cbo-button) {
        color: $colorwhite;
      }
    }
  }

  &.cms--dark {
    color: $colorgreydark;

    .cbo-chapo{
      color:$colorgreydark;
    }

    p,
    ul,
    ol {
      color: $colorgreydark;

      a:not(.cbo-button) {
        color: $colorgreydark;
      }
    }
  }

  &.cms--forcewhite {
    color: $colorwhite !important;

    h1,
    .cbo-title-1,
    h2,
    .cbo-title-2,
    h3,
    .cbo-title-3,
    h4,
    .cbo-title-4 {
      color: $colorwhite !important;
    }

    .cbo-chapo{
      color:$colorgrey !important;
    }

    p,
    ul,
    ol {
      color: $colorwhite !important;

      a:not(.cbo-button) {
        color: $colorwhite !important;
      }
    }
  }

  &.cms--small {
    p,
    ul,
    ol {
      font-size: 1rem;
    }
  }

  & > *:first-child{
    margin-top:0;
  }
}

.cbo-bgwhite{
  .cbo-cms,
  .mce-content-body {
    h1,
    .cbo-title-1,
    h2,
    .cbo-title-2,
    h3,
    .cbo-title-3,
    h4,
    .cbo-title-4 {
      color: $colorgreymedium;
    }

    .cbo-chapo{
      color:$colorgreymedium;
    }

    p:not(.cbo-chapo),
    ul,
    ol {
      color: $colorgreymedium;

      a:not(.cbo-button) {
        color: $colorgreymedium;
      }
    }
  }
}

/* -------------------------------
   SMALL SCREENS
------------------------------- */

@media (min-width: $screen-sm-min) {
}

/* -------------------------------
   MEDIUM SCREENS
------------------------------- */

@media (min-width: $screen-md-min) {
  h1,
  .cbo-title-1 {
    font-size: 3.125rem;
  }

  h2,
  .cbo-title-2 {
    font-size: 2.5rem;
  }

  .cbo-chapo {
    font-size: 2.5rem;
  }
}

/* -------------------------------
   LARGE SCREENS
------------------------------- */

@media (min-width: $screen-lg-min) {
}

/* -------------------------------
   EXTRA LARGE SCREENS
------------------------------- */

@media (min-width: $screen-xl-min) {
}
